.carousel__row {
  display: flex;
  overflow: hidden;
  background-color: white;
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.carousel__column {
  width: 33.33%;
  padding: 3px;
}

.carousel__column img {
  width: 140px;
  height: 220px;
  border-radius: 10px;
}
