.carousel__container {
  display: flex;
  overflow: hidden;
  background-color: white;
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.carousel__slide {
  width: 33.33%;
  padding: 3px;
  position: relative;
}

.carousel__img {
  width: 140px;
  height: 250px;
  border-radius: 10px;
}

#plus-btn {
  color: var(--color-blue);
  background-color: var(--color-white);
  border-radius: 50%;
  border: 0.5px solid var(--color-light-grey);
  position: absolute;
  padding: 18px;
  margin: 5px;
  z-index: 1;
}

.carousel__title {
  color: var(--color-white);
  position: absolute;
  z-index: 2;
  padding: 4px;
  margin: 8px;
  top: 78%;
}

.carousel__profile-avatar {
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  padding: 3px;
  margin: 5px;
  border: 2.5px solid var(--color-blue);
}

#myImg {
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}
