.createpost__body {
  background-color: var(--color-white);
}

.createpost__header {
  padding: 40px 20px 25px 10px;
  border-bottom: 1px solid var(--color-light-grey);
}

.createpost__header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.createpost__header-right {
  color: var(--color-grey);
}

.createpost__header-title a {
  text-decoration: none;
  color: var(--color-black);
  font-weight: 400;
  padding-left: 10px;
}

.createpost__profile {
  display: flex;
  padding: 20px;
}

.createpost__profile h3 {
  padding-left: 15px;
}

.createpost__dropdown {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.createpost__dropdown__item {
  font-weight: 600;
  color: var(--color-grey);
}

.createpost__dropdown__subtitle {
  display: relative;
  padding: 8px;
  margin: 5px;
  border: 0.5px solid var(--color-light-grey);
  border-radius: 5px;
}

#createpost__drop-content {
  position: absolute;
  z-index: 1;
}

#createpost__drop-content a {
  display: block;
  padding: 5px 28px;
  font-weight: 400;
  text-decoration: none;
  color: var(--color-dark-grey);
  background-color: var(--color-light-grey);
}

.createpost__p p {
  color: var(--color-grey);
  padding-bottom: 30%;
  margin-bottom: 10%;
}

.createpost__p i {
  color: var(--color-grey);
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--color-light-grey);
}

.createpost__footer {
  padding: 20px 0;
  font-size: 20px;
}

.createpost__footer__item {
  padding: 15px;
  border-bottom: 1px solid var(--color-light-grey);
}

.createpost__footer__item span {
  margin-left: 5px;
}
