.createpost__body {
  background-color: var(--color-white);
}

.createpost__header {
  padding: 40px 20px 25px 10px;
  border-bottom: 1px solid var(--color-light-grey);
}

.createpost__header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.createpost__header-title a {
  text-decoration: none;
  color: var(--color-black);
  font-weight: 400;
  padding-left: 10px;
}
