.login__body {
  background-color: var(--color-white);
}

.login__img {
  width: 100vw;
  overflow: hidden;
}

.login__input {
  height: 50vh;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 10px 0 10px;
  padding-top: 200px;
}

.login__input input {
  width: 90%;
  font-size: 25px;
  padding: 10px 0;
  color: var(--color-light-grey);
  border-bottom: 2px solid var(--color-light-grey);
}

.login__input button {
  font-size: 20px;
  margin: 30px 0 10px 0;
  outline: none;
  border: none;
  cursor: pointer;
}

.login__btn {
  background-color: var(--color-blue);
  padding: 10px 190px;
  border-radius: 4px;
}

.login__btn a {
  text-decoration: none;
  color: var(--color-white);
}

.login__span-password {
  color: var(--color-blue);
  margin: 20px 0;
  cursor: pointer;
}

.login__btn-account {
  color: var(--color-white);
  background-color: var(--color-green);
  padding: 10px 80px;
  border-radius: 4px;
}

.login__span-or {
  font-size: 15px;
  color: var(--color-dark-grey);
  padding: 30px 15px;
  margin: 30px 0;
  background-color: var(--color-white);
}

hr {
  border: 0.2px solid var(--color-light-grey);
  width: 90%;
  margin-left: 30px;
}
