.login__body {
  background-color: white;
}

.login__img {
  width: 100vw;
  overflow: hidden;
}

.login__input {
  height: 50vh;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 10px 0 10px;
  padding-top: 200px;
}

.login__input input {
  width: 90%;
  font-size: 25px;
  padding: 10px 0;
  color: #e4e4e4;
  border-bottom: 2px solid #eeeeee;
}

.login__input button {
  font-size: 20px;
  margin: 30px 0 10px 0;
  outline: none;
  border: none;
  cursor: pointer;
}

.login__btn {
  color: white;
  background-color: #2377e5;
  padding: 10px 190px;
  border-radius: 4px;
}

.login__span-password {
  color: #2377e5;
  margin: 20px 0;
  cursor: pointer;
}

.login__btn-account {
  color: white;
  background-color: #89c047;
  padding: 10px 80px;
  border-radius: 4px;
}

.login__span-or {
  font-size: 15px;
  color: #242424cc;
  padding: 30px 15px;
  margin: 30px 0;
  background-color: white;
}

hr {
  border: 0.2px solid #eeeeee;
  width: 90%;
  margin-left: 30px;
}
