nav {
  position: fixed;
  width: 100%;
  background-color: var(--color-light-grey);
  bottom: 0px;
  padding: 0px 15px 15px 10px;
  left: 0px;
}

nav i {
  color: var(--color-dark-grey);
}

.nav__list i:hover,
#index-btn {
  color: var(--color-blue);
}

.nav__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: baseline;
}

.nav__list-link {
  position: relative;
  padding: 30px 20px 20px 20px;
}

.nav__list-item {
  list-style-type: none;
}

.nav__list-item:nth-child(1) {
  border-top: 3px solid var(--color-blue);
  padding-top: 10px;
}

.nav__badge {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 10px;
  color: var(--color-white);
  background-color: var(--color-red);
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
