.status-bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  color: #242424cc;
  width: 100%;
  background-color: white;
  padding: 5px 15px;
  margin: 0px;
  top: 0;
}

.status-bar i {
  font-size: 14px;
}

.status-bar .status-bar__battery-level {
  margin-left: 5px;
}
