@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "search.css";
@import "avatar.css";
@import "tab.css";
@import "carousel.css";
@import "fullscreen.css";
@import "login.css";
@import "post.css";
@import "createpost.css";

:root {
  /* color */
  --color-black: #020202;
  --color-dark-grey: #242424cc;
  --color-grey: #c9ccd1;
  --color-light-grey: #eeeeee;
  --color-white: #ffffff;
  --color-blue: #2377e5;
  --color-green: #89c047;
  --color-red: #e94448;
  --color-purple: #8c60ee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-grey);
  color: var(--color-black);
  font-family: "Roboto", sans-serif;
  height: 150vh;
}

.header__container {
  background-color: var(--color-white);
  width: 100%;
  padding: 10px;
  margin-top: 28px;
}

nav,
.tab__list-item,
.profile-avatar-img,
.carousel__img,
.header__icon,
.carousel__fullscreen i,
.post__list {
  cursor: pointer;
}

.header-bg,
.profile-avatar-box {
  border-bottom: 1px solid var(--color-light-grey);
}
